ul,
p,
input {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", arial, sans-serif;
}
.main {
  overflow: hidden;
  min-width: 1280px;
}
.main .header {
  width: 100%;
  padding: 10px 20px;
  font-size: 12px;
}
.main .header .yy-logo {
  float: left;
  font-size: 18px;
  line-height: 40px;
}
.main .header .yy-logo a {
  color: #003bb2;
}
.main .header .search-group {
  margin-left: 50px;
  display: inline-block;
  min-width: 450px;
  max-width: 500px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.main .header .search-group input {
  width: 80%;
  font-size: 14px;
  background: #fff;
  height: 40px;
  float: left;
  border: 1px solid #ccc;
  border-right: 0;
  padding: 4px 10px 4px 12px;
  outline: none;
}
.main .header .search-group .search-btn {
  width: 20%;
  cursor: pointer;
  display: inline-block;
  background-color: #3453a3;
  color: #fff;
  font-size: 18px;
  text-align: center;
  float: left;
}
.main .header .search-group .search-btn:hover {
  background-color: #3b77ef;
}
.main .header .product-menu {
  float: right;
  line-height: 40px;
  display: inline-block;
}
.main .header .product-menu .product-list .menu-li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}
.main .header .product-menu .product-list .menu-li > a {
  color: #2c2c2c;
  font-size: 14px;
}
.main .header .product-menu .product-list .menu-li > a:hover {
  text-decoration: underline;
}
.main .header .product-menu .product-list .menu-li .more-li {
  display: none;
  width: 80px;
  position: absolute;
  top: 53px;
  left: -13px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.main .header .product-menu .product-list .menu-li .more-li li {
  text-align: center;
}
.main .header .product-menu .product-list .menu-li .more-li li a {
  color: #2c2c2c;
}
.main .header .product-menu .product-list .quit-box {
  padding: 0 10px;
}
.main .header .product-menu .product-list .quit-box a {
  color: #2c2c2c;
}
.main .header .product-menu .product-list .quit-box a:hover {
  text-decoration: underline;
}
.main .header .product-menu .product-list .quit-box i {
  display: inline-block;
  vertical-align: middle;
}
.main .header .product-menu .product-list .quit-box span {
  display: inline-block;
  vertical-align: middle;
}
.main .header .product-menu .product-list .quit-box span:hover {
  text-decoration: underline;
}
.main .header .product-menu .product-list .user-info {
  display: none;
  margin-right: 0;
}
.main .header .product-menu .product-list .user-info img {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
}
.main .header .product-menu .product-list .user-info .user-more {
  width: 84px;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 16px;
  display: inline-block;
}
.main .header .product-menu .product-list .user-info .user-more .user-name {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .header .product-menu .product-list .sign-btn a {
  font-size: 14px;
  margin-left: 10px;
}
.main .header .product-menu .product-list .sign-btn a i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 3px;
  font-size: 18px;
}
.main .yys-tips {
  font-size: 12px;
  padding-left: 119px;
  background-color: #E2E6F0;
}
.main .yys-tips > li {
  color: #444;
  border: 1px solid #E2E6F0;
  padding: 13px 0;
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
}
.main .yys-tips > li:first-child {
  margin-right: 10px;
}
.main .yys-tips > li span i {
  display: inline-block;
  vertical-align: middle;
}
.main .yys-tips > li input {
  display: inline-block;
  vertical-align: middle;
}
.main .yys-tips .tip-li {
  position: relative;
}
.main .yys-tips .tip-li .dropdown-menu {
  position: absolute;
  top: 43px;
  border: 1px solid red;
  z-index: 1000;
  max-height: 400px;
  overflow: auto;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.main .yys-tips .tip-li .dropdown-menu li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.main .yys-tips .tip-li .dropdown-menu li:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.main .yys-tips .tip-li:hover {
  color: #003bb2;
  border-bottom: 1px solid #3453a3;
}
.main .yys-tips .active {
  color: #003bb2;
  border-bottom: 1px solid #3453a3;
}
.main .yys-content {
  display: block;
  overflow: hidden;
}
.main .yys-content .yys-msg {
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  margin-bottom: 20px;
  color: #999;
}
.main .yys-content .yys-msg .search-time {
  height: 50px;
  line-height: 50px;
  width: 50%;
  float: left;
  display: inline-block;
  margin-left: 119px;
  border-bottom: 1px solid #ccc;
}
.main .yys-content .yys-msg .info-scroll {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  float: right;
  width: 40%;
  display: inline-block;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .yys-content .yys-msg .info-scroll ul {
  line-height: 12px;
  display: inline-block;
}
.main .yys-content .yys-msg .info-scroll ul li {
  line-height: 50px;
}
.main .yys-content .yys-msg .info-scroll ul li a {
  color: #444;
}
.main .yys-content .yys-msg .info-scroll ul li a .scroll-p {
  display: inline-block;
  width: 33%;
  line-height: 12px;
  margin-right: 20px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .yys-content .yys-msg .info-scroll ul li a .scroll-p .client-name {
  width: 41px;
  display: inline-block;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main .yys-content .yys-msg .info-scroll i {
  margin-right: 5px;
  float: left;
}
.main .yys-content .info-content {
  width: 50%;
  float: left;
  margin-left: 119px;
}
.main .yys-content .info-content .info-list {
  font-size: 12px;
  width: 80%;
  padding-bottom: 25px;
}
.main .yys-content .info-content .info-list .info-title {
  font-size: 14px;
}
.main .yys-content .info-content .info-list .info-title .infoLi-title {
  color: #3453a3;
  vertical-align: middle;
}
.main .yys-content .info-content .info-list .info-title .infoLi-title:hover {
  text-decoration: underline;
}
.main .yys-content .info-content .info-list .info-title input {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.main .yys-content .info-content .info-list .info-title .translate-btn {
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #f0ad4e;
  padding: 2px 4px;
  margin-left: 5px;
  background-color: #f0ad4e;
  color: #fff;
}
.main .yys-content .info-content .info-list .info-title .translate-btn:hover {
  background-color: #ec971f;
}
.main .yys-content .info-content .info-list .info-title .translate-btn a {
  color: #fff;
}
.main .yys-content .info-content .info-list .info-intro {
  margin-top: 10px;
  color: #444;
  line-height: 22px;
}
.main .yys-content .info-content .info-list .info-url {
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .yys-content .info-content .info-list .info-url a {
  color: #419641;
}
.main .yys-content .info-content .info-list .info-url a font {
  color: #419641;
}
.main .yys-content .info-content .info-list .getInfo-box {
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  background-color: #3453a3;
  color: #fff;
  border-radius: 3px;
  padding: 8px 15px;
}
.main .yys-content .info-content .info-list .getInfo-box:hover {
  background-color: #4065c3;
}
.main .yys-content .info-content .info-list .getInfo-box font {
  color: #fff;
}
.main .yys-content .noData {
  display: none;
  font-size: 14px;
  float: left;
  color: #444;
}
.main .yys-content .noData i {
  font-size: 18px;
}
.main .yys-content .yys-banner {
  width: 40%;
  float: right;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 226px;
}
.main .yys-content .yys-banner img {
  width: 80%;
}
.main #myPage {
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 35px;
  float: left;
  clear: both;
}
.main #myPage li {
  list-style: none;
  display: inline-block;
}
.main #myPage li a {
  font-size: 12px;
  color: #337ab7;
  border: 1px solid #ddd;
  padding: 6px 12px;
}
.main #myPage li a:hover {
  background-color: #337ab7;
  color: #fff;
  border-color: #337ab7;
}
.main #myPage .active a {
  background-color: #337ab7;
  color: #fff;
  border-color: #337ab7;
}
.main #myPage .disabled {
  display: none;
}
.main #myPage .prev {
  border-radius: 4px 0 0px 4px;
}
.main #myPage .next {
  border-radius: 0px 4px 4px 0px;
}
.main #myPage .first,
.main #myPage .last {
  display: none;
}
.main .yys-footer {
  clear: both;
  display: inline-block;
  font-size: 12px;
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  min-width: 1000px;
  color: #fff;
  background-color: #3453A3;
}
.main .yys-footer ul {
  margin-bottom: 10px;
}
.main .yys-footer ul li {
  display: inline-block;
  margin-left: 70px;
}
.main .yys-footer ul li:first-child {
  margin-left: 0;
}
.main .yys-footer a {
  color: #fff;
}
.main .yys-footer a:hover {
  text-decoration: underline;
}
.dialog-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.6);
}
.yys-loading {
  position: fixed;
  z-index: 9999;
  display: none;
}
.yys-loading .dialog-mask {
  background-color: #f6f9ff;
  opacity: 0.3;
}
.yys-loading .loading-box {
  position: fixed;
  background-color: #fff;
  left: 50%;
  top: 50%;
  padding: 30px 70px;
  margin-top: -40px;
  margin-left: -168px;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 5px #f3f3f3;
  font-size: 14px;
}
.yys-loading .loading-box i {
  display: inline-block;
  animation: loading 2s infinite linear;
}
